.vscode/
arp1
log.txt
pack
/build
/log
/logs
run.err

/install

dynamics.o
keyboard.o
main.o
obstacles.o
params.o
server.o
targets.o
util.o
watchdog.o
#.gitignore
#README.md
#Architecture.md
#Makefile